<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880" slidingExpiration="true" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <connectionStrings><add name="PicChatDBEntities" connectionString="metadata=res://*/PicChatDB.csdl|res://*/PicChatDB.ssdl|res://*/PicChatDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MILOS-PC;Initial Catalog=PicChatDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /><add name="PicChatDBEntities1" connectionString="metadata=res://*/PicChatDB.csdl|res://*/PicChatDB.ssdl|res://*/PicChatDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MILOS-PC;Initial Catalog=PicChatDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>